name: build

on:
  push:
    branches:
    - main
    tags:
    - '!*'
    paths-ignore:
    - '**/*.md'
    - 'examples/**'

defaults:
  run:
    shell: bash

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'

    - name: Build
      run: dotnet build ./src/SharpDeck/ -c Release

    - name: Test
      run: dotnet test ./src/SharpDeck.Tests/ -c Release --no-build
